<h1>{{document_title}}</h1>
<h2 class="searchTerm">The searchTerm is: {{searchTerm}}</h2>
<main>
    {{#if characters.length}}

    <ul>
        {{#each characters}}
        <li>
            <a href="/characters/{{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
    <p class="not-found">We're sorry, but no results were found for {{searchTerm}}.</p>
    {{/if}}
    <a href="/">Make another search</a>
</main>