<h1>Characters Found</h1>
<h2 class="searchTerm">The searchTerm is:  {{searchTerm}}</h2>
<main>
    {{#if characters.length}}
    <ul>
        {{#each characters}}
        <li>
            <a href="/character/{{this.id}}">{{this.name}}</a>
        </li>
        {{/each}}
    </ul>
    {{else}}
        <p class="not-found">We're sorry, but no results were found for {{searchTerm}}.</p>
        <a href="/">Make another search</a>
    {{/if}}
</main>