<main class="marvelCharacter">
    <div>
        <h1>{{singalCharacter.name}}</h1>
        <img alt={{singalCharacter.name}} src={{singalCharacter.thumbnail.path}}>
        <p>{{singalCharacter.description}}</p>
        <h2>Comics</h2>
        <ul>
            {{#each singalCharacter.comics.items}}
            <li>
                {{this.name}}
            </li>
            {{/each}}
        </ul>
    </div>
</main>