<main>
    <div>
        <h1>{{singalCharacter.name}}</h1>
        <img alt='{{singalCharacter.name}}' src='{{singalCharacter.thumbnail.path}}.{{singalCharacter.thumbnail.extension}}'>
        <p>{{singalCharacter.description}}</p>
        <h2 class="comics">Comics</h2>
        <ul>
            {{#each singalCharacter.comics.items}}
            <li class="singal-character">
                {{this.name}}
            </li>
            {{/each}}
        </ul>
    </div>
</main>